<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- nếu đã đăng nhập - hiện thông tin + nút đăng xuất --}}
    {{!-- nếu chưa đăng nhập - nút đăng nhập / đăng ký --}}
    {{!-- kiểm tra, xem người dùng đã đăng nhập chưa --}}
    {{#if is6D}}
        <p>Đã đăng nhập</p>
        {{else}}
        <p>Chưa đăng nhập</p>
       
    {{/if}}
</body>
</html>